*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    margin: 20px;
    padding: 20px;
    width: 400px;
}
.left-section{
    width: 60px;
}
.profile-pic{
    width: 100%;
    border-radius: 50%;
}
.right-section{
    flex: 1;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}
.name{
    font-weight: bold;
}
.username{
    font-weight: normal;
    color: gray;
}
.video-card{
    display: flex;
    align-items: center;
    width: 320px;
    height: 100px;
    margin-top: 20px;
    border-style: solid;
    border-color: rgb(196, 196, 196);
    border-width: 1px;
    border-radius: 10px;
}
.video-img{
    width: 100px;
    height: 100px;
    background-color: lightblue;
    border-radius: 10px 0px 0px 10px;
}
.video-info{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}